Django==5.2.14
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-timezone-field==7.2.1
gunicorn==26.0.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
whitenoise==6.12.0
resend>=2.8.0